div{
    width:600px;
    height:300px;
    color:#000000;
    font-family:cursive;
    font-size:30px;
    padding:20px;
    text-align:center;
    border-curve:70px;
    border: 5px solid #ff0000;
    background-color:#000000;
    transition:color 1s, border 1s;
    transition-timing-function:ease-in;
    margin:20px auto;
}
div:hover{
    color:#faa4ed;
    border:5px solid #00ff00;
}
p{
    color:#ffffff;
}
@keyframes holo{
    0% {background-color:#ffffff; border-color:#000000; color:#000000;}
    10% {background-color:#faa4ed; border-color:#c0fff4; color:#c0fff4;}
    20% {background-color:#00ffff; border-color:#ff0000; color:#ff0000;}
    30% {background-color:#964b00; border-color:#15317e; color:#15317e;}
    40% {background-color:#000000; border-color:#ffffff; color:#ffffff;}
    50% {background-color:#ff0000; border-color:#00ffff; color:#00ffff;}
    60% {background-color:#f48037; border-color:#98f5f9; color:#98f5f9;}
    70% {background-color:#ffff00; border-color:#0000ff; color:#0000ff;}
    80% {background-color:#00ff00; border-color:#ff00ff; color:#ff00ff;}
    90% {background-color:#0000ff; border-color:#ffff00; color:#ffff00;}
    100% {background-color:#a905d7; border-color:#e1b80e; color:#;e1b80e}
}
div.banner{
    height:300px;
    width:100%;
    animation-name: holo;
    animation-duration: 60s;
    animation-iteration-count: infinite; 
    animation-timing-function:linear;
    padding:50px; 
    font-size:60px;
}
