body.mmm {
    background-color: #000000;
    color:#ffffff;
    text-align:center;
    content-align: center;
    font-family:cursive;
    font-size:20px;
}
div.steps {
    width:880px;
    border: double 7px #ffffff;
    margin:5px auto;
    content-align: center;
    text-align:center;
    h4 {
        text-decoration: underline;
    }
}
